.tr-btn{
    padding: var(--space-xs) var(--space-sm);
    border: none;
    background-color: var(--tr-gray);
    color: var(--tr-background);
    border-radius: var(--radius-sm);
    font-size: var(--fs-md);
    transition: all ease 0.3s;
    font-weight: 500;
}

.tr-btn:hover{
    background-color: var(--tr-gray-dark);
}

.tr-btn:focus{
    box-shadow: 0 0 0px 4px var(--tr-gray-overlay);
}

.tr-btn-outline{
    background-color: transparent;
    color: var(--tr-gray);
    border: solid 2px var(--tr-gray);
}

.tr-btn-outline:hover{
    background-color: var(--tr-gray);
    color: var(--tr-white);
}


/* Primary button */

.tr-btn-primary{
    background-color: var(--tr-primary-color);
    color: var(--tr-text-on-primary-color);
}

.tr-btn-primary:hover{
    background-color: var(--tr-primary-darker);
}

.tr-btn-primary:focus{
    background-color: var(--tr-primary-darker);
    box-shadow: 0 0 0px 4px var(--tr-primary-overlay);
}

.tr-btn-outline-primary{
    background-color: transparent;
    color: var(--tr-primary-lighter);
    border: solid 2px var(--tr-primary-color);
}

.tr-btn-outline-primary:hover{
    background-color: var(--tr-primary-color);
    color: var(--tr-white);
}

/* Secondary buttons */

.tr-btn-secondary{
    background-color: var(--tr-secondary-color);
}

.tr-btn-secondary:hover{
    background-color: var(--tr-secondary-darker);
}

.tr-btn-secondary:focus{
    background-color: var(--tr-secondary-darker);
    box-shadow: 0 0 0px 4px var(--tr-primary-overlay);
}

.tr-btn-outline-secondary{
    background-color: transparent;
    color: var(--tr-secondary-color);
    border: solid 2px var(--tr-secondary-color);
}

.tr-btn-outline-secondary:hover{
    background-color: var(--tr-secondary-color);
    color: var(--tr-white);
}

/* Accent button */

.tr-btn-cta{
    background-color: var(--tr-accent-color);
}

.tr-btn-cta:hover{
    background-color: var(--tr-accent-darker);
}

.tr-btn-cta:focus{
    background-color: var(--tr-accent-color);
    box-shadow: 0 0 0 4px var(--tr-accent-overlay);
}

.tr-btn-outline-cta{
    background-color: transparent;
    color: var(--tr-accent-color);
    border: solid 2px var(--tr-accent-color);
}

.tr-btn-outline-cta:hover{
    background-color: var(--tr-accent-color);
    color: var(--tr-white);
}

/* Error button */

.tr-btn-error{
    background-color: var(--tr-error);
}

.tr-btn-error:hover{
    background-color: #ff0000;
}

.tr-btn-error:focus{
    background-color: #ff0000;
    box-shadow: 0 0 0 4px hsla(var(--err), 0.4);
}

.tr-btn-outline-error{
    background-color: transparent;
    color: var(--tr-error);
    border: solid 2px var(--tr-error);
}

.tr-btn-outline-error:hover{
    background-color: var(--tr-error);
    color: var(--tr-white);
}

/* Success Button */

.tr-btn-success{
    background-color: var(--tr-success);
}

.tr-btn-success:hover{
    background-color: hsl(152, 69%, 25%);
}

.tr-btn-success:focus{
    background-color:hsl(152, 69%, 25%);
    box-shadow: 0 0 0 4px hsla(120, 100%, 50%,0.4);
}

.tr-btn-outline-success{
    background-color: transparent;
    color: var(--tr-success);
    border: solid 2px var(--tr-success);
}

.tr-btn-outline-success:hover{
    background-color: var(--tr-success);
    color: var(--tr-white);
}

/* Link Buttons */

.tr-btn-link{
    background-color: var(--tr-primary-color);
    position: relative;
    color: var(--tr-accent-color);
}

.tr-btn-link::after{
    position: absolute;
    content: '';
    bottom: 10%;
    left: 51%;
    right: 51%;
    height: 3px;
    background-color: var(--tr-info);
    transition: all ease 0.2s;
}

.tr-btn-link:hover{
    background-color: var(--tr-primary-color);
}

.tr-btn-link:hover::after{
    left: 10%;
    right: 10%;
}

.tr-btn-link:focus{
    box-shadow: 0 0 0 4px hsla(190, 90%, 45%, 0.4);
}


/* Icon button */
.tr-btn-icon{
    padding: 0;
    background-color: transparent;
    color: var(--tr-primary-darker);
    font-size: var(--fs-lg);
    color: var(--tr-accent-color);
    font-weight: 500;
    position: relative;
}

.tr-btn-icon:hover,
.tr-btn-icon:focus
{
    background-color: transparent;
    transition-delay: 0.1s;
    box-shadow: none;
}

.tr-btn-icon >*{
    position: relative;
    z-index: 1;
}


.tr-btn-icon:hover::before,
.tr-btn-icon:focus::before
{
    background-color: var(--tr-accent-overlay);
}

/* To create a central ripple effect */
.tr-btn-icon::before{
    height: 1.8em; /* So that the height and width of the after will always be 1.8 times the font-size of the icon & always be a circle*/
    width: 1.8em;
    content: '';
    position: absolute;
    background-color: var(--tr-primary-overlay);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all ease 0.3s;
    /* z-index: -1; */
}

.tr-btn-icon:hover::before, .tr-btn-icon:focus::before{
    transform: translate(-50%, -50%) scale(1);
}


/* Icon & text buttons */
.tr-btn-icon-label{
    display: flex;
    gap: var(--space-xs);
    align-items: center;
}

/* Transprent button */
.tr-btn-transparent{
    background-color: transparent;
    color: var(--tr-text);
}

.tr-btn-transparent:hover, .tr-btn-transparent:focus{
    background-color: var(--tr-accent-overlay);
}

/* Floating Action Buttons  */

.tr-btn-fab{
    height: 1.8em;
    width: 1.8em;
    font-size: var(--fs-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
}