.tr-header{
    align-items: center;
    background-color: var(--tr-primary-color);
    border-radius: 0 0 var(--space-md) var(--space-md);
    color: var(--tr-white);
    font-size: var(--fs-md);
    gap: var(--space-sm);
    /* Fallback value for padding */
    padding: var(--space-sm) var(--space-lg); 
    padding: var(--space-sm) clamp(var(--space-lg), -0.875rem + 8.33vw, var(--space-xxlg));
}

.tr-heading h2{
    /* Fallback value */
    font-size: var(--fs-xlg); 
    font-size: clamp(var(--fs-lg), -0.875rem + 8.33vw, var(--fs-xxlg));
}

.tr-nav{
    margin-left: auto;
}

.tr-nav a.tr-btn{
    color: var(--tr-accent-color);
}

/************ Fixed Heaeder **************/

.tr-header-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/************ Prominent Heaeder **************/

.tr-header-prominent .tr-heading{
    flex-grow:1;
    order: 1;
    flex-basis: 100%;
}

/************ Short Header **************/
.tr-header-short{
    border-radius: 0 0 var(--radius-lg) 0;
    width: fit-content;
}

.tr-header-short .tr-heading{
    display: none;
}