.tr-snackbar{
    gap: var(--space-lg);
    background-color: var(--tr-text);
    padding: var(--space-sm);
    border-radius: var(--space-xs);
    width: fit-content;
    max-width: 35rem;
    position: relative;
    z-index: 99;
}

.tr-snackbar-text{
    color: var(--tr-background);
}

.tr-snackbar-link{
    border: none;
    background: transparent;
    color: var(--tr-accent-color);
    cursor: pointer;
}


.close-icon{
    border: none;
    background-color: transparent;
    font-size: inherit;
    color: #fff;
    cursor: pointer;
}

.close-icon:hover{
    color: #ccc;
}


/*************** Stacked Snackbar *****************/

.tr-snackbar-stacked{
    gap: var(--space-sm);
    justify-content: flex-end;
}

.tr-snackbar-stacked p{
    width: 100%;
}