@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);
@import url(./base/reset.css);
@import url(./base/general.css);
@import url(./abstracts/variables.css);
@import url(./abstracts/colors.css);


/* Components  */
@import url(./components/buttons.css);
@import url(./components/header.css);
@import url(./components/drawer.css);
@import url(./components/cards.css);
@import url(./components/inputs.css);
@import url(./components/alerts.css);
@import url(./components/avatars.css);
@import url(./components/badges.css);
@import url(./components/modals.css);
@import url(./components/snackbars.css);
@import url(./components/ratings.css);
@import url(./components/slider.css);

/* Utilities  */

@import url(./utils/flex-n-grids.css);
@import url(./utils/other-utilities.css);
@import url(./utils/spacing.css);
@import url(./utils/text-utilities.css);