/* Borders */

.bd1{
    border:solid 1px;
}
.bd2{
    border:solid 2px;
}
.bd3{
    border:solid 3px;
}
.bd4{
    border:solid 4px;
}
.bd5{
    border:solid 5px;
}

.bd-red{
    border-color:var(--tr-red);
}

.bd-green{
    border-color:var(--tr-green);
}

.bd-blue{
    border-color:var(--tr-blue);
}

.bd-orange{
    border-color:var(--tr-orange);
}

/* Display */

.d-block{
    display: block;
}

.d-inline{
    display: inline;
}

.d-inline-block{
    display: inline-block;
}

.d-flex{
    display: flex;
}

.d-inline-flex{
    display: inline-flex;
}

.d-grid{
    display: grid;
}

.hide{
    display: none;
}

/* Positions */

.p-abs{
    position: absolute;
}

.p-rel{
    position: relative;
}

.p-fixed{
    position: fixed;
}

.p-sticky{
    position: sticky;
}

/* Alignments */

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.centered{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hor-centered{
    left: 50%;
    transform: translateX(-50%);
}

.ver-centered{
    top: 50%;
    transform: translateY(-50%);
}

/* Align-children */

.children-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.children-stacked{
    display: flex;
    flex-direction: column;
}


/******************** Typography ******************/

.txt-primary{
    color: var(--tr-primary);
}

.txt-secondary{
    color: var(--tr-secondary);
}

.txt-error{
    color: var(--tr-error);
}

.txt-warn{
    color: var(--tr-warning);
}

.txt-success{
    color: var(--tr-success);
}


/* Text Sizes */

.txt-sm{
    font-size: 0.5rem;
    line-height: 1rem;
}

.txt-md{
    font-size: 1rem;
    line-height: 1.5rem;
}

.txt-lg{
    font-size: 1.5rem;
    line-height: 2rem;
}

.txt-xlg{
    font-size: 2rem;
    line-height: 2.5rem;
}

.txt-xxlg{
    font-size: 3rem;
    line-height: 4rem;
}

/* Text weight */

.txt-light{
    font-weight: 300;
}

.txt-regular{
    font-weight: 400;
}

.txt-semibold{
    font-weight: 600;
}

.txt-bold{
    font-weight: 800;
}
