/* Borders */

.bd-1{
    border:solid 1px;
}
.bd-2{
    border:solid 2px;
}
.bd-3{
    border:solid 3px;
}
.bd-4{
    border:solid 4px;
}
.bd-5{
    border:solid 5px;
}

.bd-red{
    border-color:var(--tr-error);
}

.bd-green{
    border-color:var(--tr-success);
}

.bd-blue{
    border-color:var(--tr-info);
}

.bd-orange{
    border-color:var(--tr-warning);
}

/* Background colors  */
.bg-primary{
    background-color: var(--tr-primary-color);
}

.bg-secondary{
    background-color: var(--tr-secondary-color);
}

.bg-accent{
    background-color: var(--tr-accent-color);
}

.bg-gray{
    background-color: var(--tr-gray);
}

/* Display */

.d-block{
    display: block;
}

.d-inline{
    display: inline;
}

.d-inline-block{
    display: inline-block;
}

.d-flex{
    display: flex;
}

.d-inline-flex{
    display: inline-flex;
}

.d-grid{
    display: grid;
}

.hide{
    display: none;
}

/* Positions */

.p-abs{
    position: absolute;
}

.p-rel{
    position: relative;
}

.p-fixed{
    position: fixed;
}

.p-sticky{
    position: sticky;
}

/* Alignments */

.centered{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hor-centered{
    left: 50%;
    transform: translateX(-50%);
}

.ver-centered{
    top: 50%;
    transform: translateY(-50%);
}

/* Align-children */

.children-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.children-stacked{
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}



/******************** Typography ******************/

.txt-primary{
    color: var(--tr-primary-lighter);
}

.txt-secondary{
    color: var(--tr-text-secondary);
}

.txt-error{
    color: var(--tr-error);
}

.txt-warn{
    color: var(--tr-warning);
}

.txt-success{
    color: var(--tr-success);
}

.txt-gray{
    color: var(--tr-gray);
}

.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}

.txt-right{
    text-align: right;
}

.txt-justify{
    text-align: justify;
}

/* Text Sizes */

.txt-sm{
    font-size: var(--fs-sm);
    line-height: var(--fs-md);
}

.txt-md{
    font-size: var(--fs-md);
    line-height: var(--fs-lg);
}

.txt-lg{
    font-size: var(--fs-lg);
    line-height: var(--fs-xlg);
}

.txt-xlg{
    font-size: var(--fs-xlg);
    line-height: var(--fs-xxlg);
}

/* Text weight */

.txt-light{
    font-weight: 300;
}

.txt-regular{
    font-weight: 400;
}

.txt-semibold{
    font-weight: 600;
}

.txt-bold{
    font-weight: 800;
}


/* Background overlay */
.modal-wrapper.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: var(--tr-gray-overlay);
}

.f-wrap{
    flex-wrap: wrap;
}


.flex-col{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.gap-sm{
    gap: var(--space-sm);
}

.gap-md{
    gap: var(--space-md);
}

.gap-lg{
    gap: var(--space-lg);
}

.gap-xlg{
    gap: var(--space-xlg);
}

/* Images  */
.img-responsive{
    max-width: 100%;
    object-fit: cover;
}