:root{
    /* --tr-primary-color:hsl(234, 71%, 20%);
    --tr-primary-darker: hsl(234, 70%, 18%); */
    --tr-primary-color:hsl(234, 71%, 25%);
    --tr-primary-darker:hsl(234, 71%, 18%);
    
    --tr-secondary-color: hsl(234, 22%, 44%);
    --tr-secondary-darker: hsl(234, 22%, 40%);

    --tr-accent-color: hsl(180, 100%, 40%);
    --tr-accent-darker: hsl(180, 100%, 30%);

    --tr-diabled-color: hsl(233, 18%, 80%);
    
    /* Overlays */
    --tr-primary-overlay: hsla(234, 71%, 20%,0.4);
    --tr-gray-overlay:hsla(0, 0%, 0%, 0.3);
    --tr-accent-overlay:hsla(180, 100%, 20%, 0.4);

    /* Helper colors */

    --tr-white: hsl(0, 0%, 100%);
    --tr-gray: hsl(208, 7%, 46%);
    --tr-gray-dark: hsl(210, 10%, 38%);
    --tr-success: hsl(152, 69%, 31%);
    --tr-info: hsl(190, 90%, 50%);
    --tr-warning: hsl(45, 100%, 51%);
    --tr-error: hsl(354, 70%, 54%);
    --err: 354, 70%, 51%;
    --tr-light: hsl(210, 17%, 90%);
    --tr-dark: hsl(210, 11%, 15%);
    --tr-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), rgba(255, 255, 255, 0));
    --tr-box-shadow:inset 0px 0px 5px hsla(0, 0%, 0%, 0.2), inset 0px 0px 10px rgba(0,0,0,0.2), 0px 0px 20px rgba(0,0,0,0.3);
    --tr-bg-teal-light: hsla(180, 100%, 25%,0.2); 
    --tr-bg-teal-dark: hsla(180, 100%, 25%,0.4); 
    --tr-bg-dark-overlay: hsla(0, 0%, 0%, 0.4);

    /* Background foreground */

    --tr-background:hsl(0, 0%, 100%);
    --tr-text:hsl(71, 38%, 16%);
    --tr-text-on-dark: hsl(0, 0%, 100%);
    --tr-text-on-light: hsl(71, 38%, 16%);

}