:root{
  
    /* Spacings */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xlg: 2.5rem;
    --space-xxl: 4rem;


    /* Radius */

    --radius-sm: 5px;
    --radius-md: 10px;
    --radius-lg: 15px;
    --radius-round: 50%;

    /* Font Family */

    --ff-Heading:"Montserrat-Alternates";

    /* Font weights */

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-black: 900;

    /* Font sizes */
    --fs-sm: 0.5rem;
    --fs-md: 1rem;
    --fs-lg: 1.5rem;
    --fs-xlg: 2rem;
    --fs-xxlg: 3.5rem;
    
}