
/************ Typography *************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600&family=Montserrat:wght@400;500;600&family=Poppins&family=Raleway:wght@600&display=swap');

h1{
    font-size: var(--fs-xlg);
    font-weight: 700;
    font-family: 'Montserrat Alternates', sans-serif;
}

h2{
    font-size: var(--fs-lg);
    font-weight:500;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-size: var(--fs-md);
    font-weight: 500;
    color: var(--tr-gray);
}

p{
    font-size: var(--fs-md);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: var(--tr-text-secondary);
}

body{
    font-family: 'Montserrat', sans-serif;
}